{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

    <legend class="mb-3">
        <a href="#" class="mr-3">New Questions</a>
        <a href="#">Hot Questions</a>
    </legend>

    {% include 'inc/question_main.html' %}
    {% include 'inc/question_main.html' %}
    {% include 'inc/question_main.html' %}
    {% include 'inc/question_main.html' %}
    {% include 'inc/question_main.html' %}
    {% include 'inc/question_main.html' %}

    {% include 'inc/paginator.html' %}

{% endblock content %}
