{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

    <legend class="mb-3">
        <h3>Question Page</h3>
    </legend>

    <div class="mb-5">
        {% include 'inc/question_big.html' %}
    </div>

    {% for answer in answers %}
        {% include 'inc/question_answer.html' %}
    {% endfor %}

    {% include 'inc/paginator.html' with page=answers %}

    <h4>Write you answer</h4>

    {% if request.user.is_authenticated %}
        {% include 'inc/form.html' %}
    {% else %}
        <div>
            <span class="in">You must be registered to post a reply:</span>
            <a href="{% url 'singin' %}?next={{ request.path }}">login</a>
        </div>
    {% endif %}

{% endblock content %}