{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

    <legend class="mb-4">
        <h3 class="mr-3">Settings</h3>
    </legend>

    <div class="row mb-5">
        <label for="avatar" class="col-md-3"><h4>Avatar</h4></label>
        <div class="col-md-9">
            <img src="{{ request.user.profile.avatar.url }}" width="100" height="100"
                 class="dropdown-toggle rounded-circle ml-2" id="avatar" alt="">
        </div>
    </div>

    {% include 'inc/form.html' with file=True %}

{% endblock content %}
