<div class="container right-sticky">
    <div>
        <h5>Popular tags:</h5>
        <a href="#" class="badge mb-2">Perl</a>
        <a href="#" class="badge mb-2">Python</a>
        <a href="#" class="badge mb-2">TechoPark</a>
        <a href="#" class="badge mb-2">MySQL</a>
        <a href="#" class="badge mb-2">Django</a>
        <a href="#" class="badge mb-2">Mail.ru</a>
    </div>
    <div>
        <h5>User top:</h5>
        <a href="#" class="d-block mb-1">Mr. Freeman</a>
        <a href="#" class="d-block mb-1">Dr. House</a>
        <a href="#" class="d-block mb-1">Bender</a>
        <a href="#" class="d-block mb-1">Queen Victoria</a>
        <a href="#" class="d-block mb-1">V. Pupkin</a>
    </div>
</div>