{% extends 'inc/question_base.html' %}

{% load static %}

{% block question-avatar %}
    <img src="{% static "img/quest.png" %}" height="95px" width="95px" class="align-self-start mr-2 rounded-sm"
         alt="...">
{% endblock question-avatar %}

{% block question-answer %}
    <h5 class="mt-0">{{ question.title }}</h5>
    <p>{{ question.text }}</p>
{% endblock question-answer %}

{% block question-info %}
    <input class="form-check-input ml-3" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label ml-5" for="defaultCheck1">Correct!</label>
{% endblock question-info %}