{% extends 'inc/question_base.html' %}

{% load static %}

{% block question-avatar %}
    <img src="{% static "img/quest.png" %}" height="95px" width="95px" class="align-self-start mr-2 rounded-sm"
         alt="...">
{% endblock question-avatar %}

{% block question-answer %}
    <h5 class="mt-0">{{ question.title }}</h5>
    <p class="overflow-hidden" style="height: 70px">{{ question.text }}</p>
{% endblock question-answer %}

{% block question-info %}
    <a href="{% url 'question' id=question.id %}">answer ({{ question.answer }})</a>
    <span>Tags:
        {% for tag in question.tags %}
            <a href="{% url 'tag' tag=tag %}">{{ tag }}</a>
        {% endfor %}
    </span>
{% endblock question-info %}