{% extends 'inc/question_base.html' %}

{% load static %}

{% block question-avatar %}
    <img src="{% static "img/quest.png" %}" height="150px" width="150px" class="align-self-start mr-2 rounded-sm"
         alt="...">
{% endblock question-avatar %}

{% block question-answer %}
    <h5 class="mt-0">{{ question.title }}</h5>
    <p>{{ question.text }}</p>
{% endblock question-answer %}

{% block question-info %}
    <span>Tags:
        {% for tag in question.tags %}
            <a href="{% url 'tag' tag=tag %}">{{ tag }}</a>
        {% endfor %}
    </span>
{% endblock question-info %}