{% extends 'inc/question_base.html' %}

{% load static %}

{% block question-raiting %}
    {% if answers_votes|get_item:answer.id == True %}
        <a href="#" class="js-vote vote" id="answer-like-{{ answer.pk }}" data-class="answer"
           data-action="like" data-id="{{ question.pk }}"><i class="far fa-thumbs-up"></i></a>
    {% else %}
        <a href="#" class="js-vote" id="answer-like-{{ answer.pk }}" data-class="answer"
           data-action="like" data-id="{{ answer.pk }}"><i class="far fa-thumbs-up"></i></a>
    {% endif %}

    <span id="answer-{{ answer.pk }}">{{ answer.rating }}</span>

    {% if answers_votes|get_item:answer.id == False %}
        <a href="#" class="js-vote vote" id="answer-dislike-{{ answer.pk }}" data-class="answer"
           data-action="dislike" data-id="{{ answer.pk }}"><i class="far fa-thumbs-down"></i></a>
    {% else %}
        <a href="#" class="js-vote" id="answer-dislike-{{ answer.pk }}" data-class="answer"
           data-action="dislike" data-id="{{ answer.pk }}"><i class="far fa-thumbs-down"></i></a>
    {% endif %}
{% endblock question-raiting %}

{% block question-text %}
    <div class="mb-2 mt-n2">
        <span class="mr-2 text-black-50">{{ answer.author }}</span>
        <span class="text-black-50">{{ answer.date }}</span>
    </div>
    <p>{{ answer.text }}</p>
{% endblock question-text %}

{% block question-info %}
    {% if answer.question.author.id == request.user.profile.id %}
        {% if answer.is_correct == True %}
            <input class="js-correct ml-3" id="answer-correct-{{ answer.pk }}" type="checkbox"
                   data-id="{{ answer.pk }}" checked>
        {% else %}
            <input class="js-correct ml-3" id="answer-correct-{{ answer.pk }}" type="checkbox"
                   data-id="{{ answer.pk }}">
        {% endif %}
    {% else %}
        {% if answer.is_correct == True %}
            <input class="js-correct ml-3" id="answer-correct-{{ answer.pk }}" type="checkbox"
                   data-id="{{ answer.pk }}" checked disabled>
        {% else %}
            <input class="js-correct ml-3" id="answer-correct-{{ answer.pk }}" type="checkbox"
                   data-id="{{ answer.pk }}" disabled>
        {% endif %}
    {% endif %}
    <label class="ml-1" for="answer-correct-{{ answer.pk }}">Correct!</label>
{% endblock question-info %}